@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Thành Thái
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    083667163
</address>

<address>
    <strong>Email:</strong>   <a href="mailto: thaintps29429@fpt.edu.vn">thaintps29429@fpt.edu.vn</a><br />
</address>